<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Adauga Pacient</title>
<style>
body{background-color:#BBBDBE;}

</style>
</head>
<body>
	<div align="center">
		<h1>Adauga Pacient</h1>
		<br />
		<form action="#" th:action="@{/savePacient}" th:object="${pacient}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Nume:</td>
					<td><input type="text" th:field="*{nume}" /></td>
				</tr>
				<tr>
					<td>Specie:</td>
					<td><input type="text" th:field="*{specie}" /></td>
				</tr>
				<tr>
					<td>Rasa:</td>
					<td><input type="text" th:field="*{rasa}" /></td>
				</tr>
				<tr>
					<td>Sex:</td>
					<td><input type="text" th:field="*{sex}" /></td>
				</tr>
				<tr>
					<td>Varsta:</td>
					<td><input type="text" th:field="*{varsta}" /></td>
				</tr>
				<tr>
					<td>Proprietar:</td>
					<td><input type="text" th:field="*{proprietar}" /></td>
				</tr>
				<tr>
					<td>Achitat:</td>
					<td><input type="text" th:field="*{achitat}" /></td>
				</tr>
				<tr>
					<td>Restante[Ron]:</td>
					<td><input type="text" th:field="*{restante}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Salveaza</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>